body {
  font-family: "Tajawal", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.overflow {
  overflow: hidden;
}
:root {
  --main-color: #000000;
  --main-hover: rgba(0, 0, 0, 0.7);
  --white-color: #ffffff;
  --black-color: #000000;
}
img {
  image-rendering: -webkit-optimize-contrast;
}
/*style scroll bar*/
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f2f2f2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-hover);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}
/*preloader*/
.preloader {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.progress {
  position: fixed;
  z-index: 99999;
  top: 0;
  width: 100%;
  height: 5px;
  background-color: #f7f7f7;
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  overflow: hidden;
}

.progress-bar {
  animation: progress 6s ease infinite;
  padding: 1px;
  color: rgba(255, 255, 255, 100);
  background-image: linear-gradient(
    135deg,
    var(--main-hover),
    var(--main-color)
  );
  /* border-radius: 4px 4px 4px 4px; */
}
html[dir="ltr"] .progress-bar {
  background-image: linear-gradient(
    135deg,
    var(--main-color),
    var(--main-hover)
  );
}
@keyframes progress {
  from {
    width: 0;
    color: rgba(255, 255, 255, 0);
  }
  to {
    width: 100%;
    color: rgba(255, 255, 255, 1);
  }
}
/*preloader*/

/* login page*/
.body-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 100vh;
}
.img-bg,
.form-section {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 100vh;
}
.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-container {
  text-align: start;
  width: 420px;
  max-width: 100%;
  margin: 0 auto;
}
.logo-ancor {
  display: inline-block;
}
.logo-img {
  width: 95px;
  max-width: 100%;
  margin-bottom: 0;
}
.lang-cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: end;
  margin-top: 40px;
  margin-bottom: 60px;
}
.flex-div {
  width: 20%;
}
.lang-ancor {
  font-weight: 400;
  font-size: 16px;
  color: #adadad;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.lang-ancor i {
  font-size: 16px;
  margin-inline-start: 5px;
}
.lang-ancor:hover {
  color: var(--main-hover);
  text-decoration: none;
}
.form-head {
  font-weight: 700;
  font-size: 18px;
  color: var(--main-color);
  text-align: start;
  margin-bottom: 10px;
}
.form-pargh {
  font-weight: 400;
  font-size: 18px;
  color: var(--main-color);
  text-align: start;
  margin-bottom: 25px;
}
.country-cont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  grid-auto-rows: 1fr;
}
.country-cont a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: var(--main-color);
  text-decoration: none !important;
  transition: all 0.3s ease-in-out;
}
.country-cont a:hover {
  color: var(--main-hover);
}
.page-title {
  font-weight: 700;
  font-size: 20px;
  color: var(--main-color);
  text-align: center;
}
.job-types {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.job-type {
  width: 157px;
  max-width: calc(50% - 23px);
  padding: 0;
  margin: 10px 11.5px;
  position: relative;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: var(--main-color);
  text-decoration: none !important;
  transition: all 0.3s ease-in-out;
}

.job-type .job-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1;
  /* padding-bottom: 72.6114649682%; */
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: 2px solid transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.job-type .job-img img {
  /* position: absolute;
  max-width: 100%;
  max-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%; */
  margin-bottom: 10px;
}

.job-type input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: none;
}
.job-type:hover .job-img,
.job-type:focus .job-img,
.job-type input:checked ~ .job-img {
  border-color: var(--main-color);
  -webkit-box-shadow: none;
  box-shadow: none;
  color: var(--main-hover);
}

.form-group {
  width: 100%;
  text-align: start;
  position: relative;
  margin-bottom: 15px;
}
.form-input-relative {
  position: relative;
  display: flex;
}
.form-input {
  background-color: #f1f1f1;
  border: 2px solid #f1f1f1;
  height: 45px;
  width: 100%;
  padding: 0 50px;
  border-radius: 22px;
  text-align: start;
  color: #808080;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  caret-color: var(--main-color);
}
.form-input::placeholder {
  color: #808080;
}
.form-input[type="tel"],
.form-input[type="email"] {
  direction: ltr;
}
.form-input[type="tel"] {
  padding-left: 95px;
}
.form-input:focus {
  border-color: var(--main-color);
  outline: 0;
}
.form-group .icon-placeholder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 18px;
  color: #b5b7b9;
  font-size: 20px;
  line-height: 20px;
}
.form-group .tel-lang {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: var(--black-color);
  left: 12.5px;
  direction: rtl;
}
.form-group .tel-lang img {
  -webkit-margin-start: 5px;
  margin-inline-start: 5px;
}
.bank-text {
  font-weight: 300;
  font-size: 14px;
  color: var(--main-color);
}
.wizard-body .page-title {
  margin-bottom: 40px;
}
.form-btn-cont {
  width: 100%;
  margin-bottom: 10px;
}
.img-bg figure {
  margin: 0;
  width: 100%;
}
.img-bg img {
  width: 100%;
  height: 100vh;
}
.form-input-relative .password-show {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  inset-inline-end: 18px;
  font-size: 20px;
  cursor: pointer;
  color: #b5b7b9;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.form-input-relative .password-show input {
  display: none;
}
/*----------------*/
.upper-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 45px;
}
.page-cont {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 820px;
  max-width: 100%;
  max-width: calc(100% - 30px);
  min-height: 100vh;
  margin: auto;
  padding-top: 20px;
}
.page-container {
  width: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  padding-bottom: 40px;
  text-align: center;
  margin-bottom: auto;
}
.btn-cont {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 100%;
}
.first-btn {
  width: 160px;
  height: 45px;
  max-width: 100%;
  border-radius: 22px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  color: var(--white-color);
  background-color: var(--main-color);
  border: none;
  outline: none !important;
  margin-inline-end: 8px;
  transition: all 0.3s ease-in-out;
}
.first-btn:hover {
  background-color: var(--main-hover);
  color: var(--white-color);
}
.second-btn {
  width: 160px;
  height: 45px;
  max-width: 100%;
  border-radius: 22px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  color: #b2b2b2;
  background-color: #f2f2f2;
  border: none;
  outline: none !important;
  transition: all 0.3s ease-in-out;
}
.second-btn:hover {
  color: var(--white-color);
  background-color: var(--main-color);
}
.first-btn:focus,
.second-btn:focus {
  box-shadow: none;
  outline: none;
}
/* form wizard*/
/*steps*/
.steps-progress {
  width: 460px;
  max-width: 100%;
  margin: 0 auto 40px;
}

.progressbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  margin: 0;
}

.progressbar li {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.progressbar li .stepnumber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #f1f1f1;
  border-radius: 50%;
  font-size: 18px;
  font-weight: 500;
  color: #b5b7b9;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.progressbar li::after {
  width: 100%;
  height: 4px;
  background-color: #f1f1f1;
  content: "";
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.progressbar li:last-of-type {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.progressbar li:last-of-type::after {
  display: none;
}

.progressbar li.active .stepnumber {
  color: var(--white-color);
  background-color: var(--main-color);
}

.progressbar li.active::after {
  background-color: var(--main-color);
}
/*steps*/
.btn-irv-default {
  /* opacity: .7; */
  margin-inline-end: 10px;
}
#wizard-subm {
  margin: 0;
}
.wizard {
  overflow: hidden;
  max-width: 100%;
  width: 100%;
}
.wizard .wizard-header {
  margin-bottom: 30px;
  margin-top: 30px;
}
/* .wizard .wizard-header .steps {
  height: 15px;
}
.wizard .wizard-header .steps .wizard-step {
  background: #000;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 0 10px;
  opacity: 0.2;
  border-radius: 50%;
  transition: all 0.8s;
}
.wizard .wizard-header .steps .wizard-step.active {
  opacity: 1;
} */
.wizard .wizard-body {
  position: relative;
  transition: all 0.3s cubic-bezier(0.68, -0.3, 0.37, 0.6);
}
.wizard .wizard-body .step {
  /* transition: all 0.3s ease-in-out;
  position: absolute;
  width: 100%;
  top: 0;
  right: -100%;
  opacity: 0; */
  display: none;
}
.wizard .wizard-body .step.initial {
  position: relative;
}
.wizard .wizard-body .step.off {
  opacity: 0 !important;
  right: 100% !important;
}
.wizard .wizard-body .step.active {
  display: block;
}
.wizard .wizard-footer {
  margin-top: 30px;
}
.wizard-btn-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
/*wizard-form*/
.check-group {
  text-align: start;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.form-group .main-check-label {
  font-weight: 500;
  font-size: 14px;
  color: var(--main-color);
  text-align: start;
  text-transform: capitalize;
  margin-bottom: 18px;
}

.group-input {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px 30px;
}
.group-input .form-group {
  text-align: start;
  width: 100%;
  overflow: hidden;
  margin: 0;
}
.group-input .main-check,
.main-check {
  -webkit-padding-start: 22px;
  padding-inline-start: 22px;
}
.group-input .form-input {
  padding: 0 30px;
}
.group-input .form-input[type="tel"] {
  padding-left: 95px;
}
.form-group .form-label {
  font-size: 14px;
  font-weight: 500;
  color: var(--black-color);
  -webkit-margin-start: 22px;
  margin-inline-start: 22px;
  margin-bottom: 10px;
  display: block;
}
label.required::after {
  content: "*";
  font-size: 16px;
  color: #ff0000;
}
.select2-container--default .select2-results__option--disabled {
  display: none;
}
.angle-select {
  position: absolute;
  z-index: 20;
  top: 50%;
  transform: translateY(-50%);
  inset-inline-end: 20px;
  font-size: 16px;
  color: #b5b7b9;
  pointer-events: none;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  display: none;
}

.select2-container .select2-selection--single {
  height: 45px;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
  color: #808080;
}

.select2-container {
  padding: 0;
}

.select2-container--default .select2-selection--single {
  border: 2px solid transparent;
  border-radius: 20px;
  background-color: #f1f1f1;
}
.select2-container--default .select2-selection--single:focus {
  border-color: var(--main-color) !important;
}

.select2-container {
  max-width: 100%;
}

.select2.select2-container.select2-container--default {
  width: 100% !important;
}

.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  color: #ffffff;
  background: #adadad;
  transition: 0.5s;
}
.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable:last-child {
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border-radius: 20px;
  height: 40px;
  border: 1px solid #f1f1f1;
  padding: 8px 20px;
  caret-color: #000000;
  color: #808080;
  font-size: 14px;
  font-weight: 400;
}
.select2-container--default
  .select2-results_option--highlighted.select2-results_option--selectable {
  background: #adadad;
}
.select2-dropdown {
  background-color: #f1f1f1;
}
.select2-search--dropdown {
  margin: 0 10px;
  background-color: #f1f1f1;
}

[type="search"] {
  outline: 0;
}

.select2-results__option {
  padding: 10px 20px;
  color: #808080;
  text-align: start;
}

.select2-dropdown {
  border: inherit;
  border-color: transparent;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  overflow: hidden;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0 30px !important;
  height: 45px;
}

@media only screen and (max-width: 767px) {
  .select2-container .select2-selection--single .select2-selection__rendered {
    padding: 0 30px !important;
  }
}
.select2-container--open.select2-container--default .select2-selection--single {
  overflow: hidden;
  border-bottom: transparent;
}
.select2-container--open.select2-container--default
  .select2-selection--single:focus {
  border-color: var(--main-color) !important;
}

.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.select2-container[dir="rtl"]
  .select2-selection--single
  .select2-selection__rendered {
  font-size: 12px;
  font-weight: 400;
  border: 1px solid transparent;
  border-radius: 20px;
}
.select2-container[dir="rtl"]
  .select2-selection--single
  .select2-selection__rendered:focus {
  border-color: var(--main-color) !important;
}

.select2-results__option--selectable {
  color: #808080;
  font-size: 14px;
  font-weight: 400;
  text-align: start;
  background-color: #f1f1f1;
}

.select2-container--default .select2-results__option--selected {
  background-color: transparent;
}

.success-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.success-icon {
  font-size: 100px;
  margin-bottom: 5px;
  color: #60c547;
}
.success-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--main-color);
  margin-bottom: 12px;
}
.success-pargh {
  font-size: 18px;
  font-weight: 400;
  color: var(--main-color);
  margin: 0 auto;
  margin-bottom: 25px;
  max-width: 380px;
}
.success-cont .first-btn {
  width: 345px;
  margin: 0 auto;
  text-decoration: none !important;
}
.otp-input label {
  text-align: center;
  display: block;
}
.digit-group {
  direction: ltr;
  margin-bottom: 25px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.otp-input input {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #fcfcfc;
  border: 2px solid #f0f0f0;
  font-size: 17px;
  font-weight: 400;
  color: #a4a4a4;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.otp-input input:focus {
  border-color: var(--main-color);
}
.countDown-cont {
  text-align: center;
  color: #808080;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 25px;
}
.login-form {
  margin-top: 30px;
  max-width: 100%;
}
.forget-link {
  text-align: center;
  margin-bottom: 15px;
}
.forget-password {
  font-weight: 400;
  font-size: 15px;
  color: #9093a3;
  display: inline-block;
  text-align: center;
  text-decoration: none !important;
  transition: all 0.3s ease-in-out;
}
.forget-password:hover {
  color: var(--main-hover);
}
.form-btn-cont {
  width: 100%;
  margin-bottom: 10px;
}
.form-btn {
  background-color: var(--main-hover);
}
.register-btn {
  background-color: var(--main-color);
}
.form-btn,
.register-btn {
  width: 100%;
  height: 45px;
  border-radius: 22px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  color: var(--white-color);
  border: none;
  outline: none;
  text-decoration: none !important;
  transition: all 0.3s ease-in-out;
}
.form-btn:hover,
.register-btn:hover {
  color: var(--white-color);
  opacity: 0.7;
}
.form-btn:focus,
.register-btn:focus {
  outline: none;
}
@media (max-width: 767px) {
  .body-wrapper {
    display: flex;
    height: auto;
  }
  .img-bg,
  .form-section {
    min-height: 100vh;
    height: auto;
  }
  .form-container {
    padding: 20px;
  }
  .img-bg {
    display: none;
  }
  .group-input {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
  .full-grid {
    grid-column: 1 / span 1;
  }
  .check-width {
    min-width: 50%;
  }
  .check-label {
    margin-bottom: 15px;
  }
  .progressbar li i {
    width: 35px;
    height: 35px;
    font-size: 24px;
  }
  .country-cont {
    grid-template-columns: repeat(2, 1fr);
  }
}
.term-cont {
  font-weight: 500;
  font-size: 14px;
  color: #999999;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}
.term-cont a {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none !important;
  outline: none !important;
  display: inline-block;
  color: var(--main-color);
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}
.term-cont button:hover {
  color: var(--main-hover);
}
.close-modal {
  font-size: 24px;
  color: #808080;
  position: absolute;
  cursor: pointer;
  z-index: 1;
  top: 10px;
  inset-inline-end: 10px;
  outline: none !important;
  background: transparent;
  border: none;
  padding: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.close-modal i {
  display: block;
}
.close-modal:hover {
  text-decoration: none;
  color: var(--main-hover);
}
@media (max-width: 991px) {
  .close-modal {
    font-size: 18px;
  }
}

/*modal*/
.terms-modal .modal-dialog {
  margin: 5% auto;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
  }
}
@media (max-width: 580px) {
  .terms-modal .modal-dialog {
    margin-top: 40px;
    width: calc(100vw - 40px);
  }
}
.terms-modal .modal-content {
  padding: 50px 35px 45px;
}

@media (max-width: 480px) {
  .terms-modal .modal-content {
    padding: 40px 25px;
  }
}
.modal-content {
  border-radius: 0;
  background-color: #fff;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
}

.modal-header {
  padding: 0;
  border: none;
  position: static;
  margin: 0;
  text-align: start;
}

.modal-title {
  font-size: 16px;
  font-weight: 700;
  color: var(--main-color);
  margin: 0;
  margin-bottom: 20px;
  text-align: start;
}
.modal-body {
  padding: 0;
  margin: 0;
}
.terms-pargh {
  font-weight: 500;
  font-size: 14px;
  color: #9b9b9b;
  text-align: start;
  line-height: 22px;
  margin-bottom: 20px;
}

/*                                    media query                                    */

.fixall {
  text-decoration: none;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  list-style-type: none;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1170px;
  }
}
@media (max-width: 767px) {
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    padding-left: 20px;
    padding-right: 20px;
  }
}
